<div class="flex column full-screen">
    <app-header></app-header>

    <!-- Register form -->
    <div class="flex center_stretch container-height">
        <div class="flex space-between_center width-80">
            <div class="width-48 flex">
                <img src="../../../../assets/images/sign_up.svg" alt="sign_up" class="width-80">
            </div>
            <div class="width-48 form-container">
                <!-- Dynamic forms -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>